body html{
    margin:0;
    padding: 0;
}
.active{
    color: white;
}
a:active{
    color: white;
}
a:link{
    color: #98CBE8;
}
a:hover{
    color: white;
}
a:visited{
    color:white;
}
.navbar{
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: #3097D1 !important;
    color: white !important;
}
.form-style{
    margin-right: 5px;
    padding-top: 9px;
}
.bell-style{
    color:#98CBE8 !important;
    margin-right: 5px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 5px;
}
input{
    height: 29px;
    border: 1px solid;
    border-radius: 4px;
}
.circleimg{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 35px;
    width: 35px;   
}
.styleimg{
    margin-right: 13px;
}
.search{
    margin-right: 5px;
}
.sec-1{
    display: flex;
    flex-direction: row;
}
.box-1{
    flex:2;
    border:1px solid #DFDFDF;
    border-radius: 10px;
    text-align: center;
    width: 252px;
    background-image: url('');
    position: relative;
   
}
.avatar {
    display: block;
    background-image: url('i3.jpg');
    height: 100px;
    width: 252px;
    background-origin: center;
    background-size: cover;
    border-top-left-radius: 10px;

    border-top-right-radius: 10px;
}

.box-2{
    border-radius: 10px;
  flex:1;  
  border:1px solid #DFDFDF;
  position: relative;
  margin-top: 10px;
  width: 252px;
  padding-bottom: 20px;
  padding-top: 20px;
 }
.box-3{
    border-radius: 10px;
  flex:3;
  border: 1px solid #DFDFDF;
  margin-top: 10px;
  width: 252px;
  margin-bottom: 100px;
 }
h1{
    font-size:20px!important;
    font-weight: bold !important;
    margin-top: 55px !important;

}
h2{
    font-size: 15px!important;
    
}
.cover{
    width: 100%;
    position: absolute;
    left: 0px;
}

.profile{
    width: 100px;
    height: 100px;
    position: relative;
    top: 55px;
    border-radius: 50%;
    border-color:white;
    border-width: 2px;
    border-style: solid;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.content2{
    display: flex;
    flex-direction: row;
}
/* .profile{

    display: block;
    border-radius: 50%;
    width:100px;
    height: 100px;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    position: relative;
    margin-left: 17%;
    margin-top: 27%;

}
.profile-style{
} */
.color{
    color: #3097D1 !important;
}
.about-style{
    font-size: 15px!important;
    margin-left: 10px !important;
    margin-top: 5px !important;
    font-weight: normal !important;
}
.photos-style{
    font-size: 15px!important;
    margin-left: 10px !important;
    margin-top: 5px !important;
    font-weight: bold !important;
}
.photos{
    margin-left: 10px;
    height: 163px;
    width: 105px;
    margin-bottom: 5px;
}
.box-4{
  border-radius: 10px;
  border: 1px solid #DFDFDF;
  width: 214px;
  flex:1;
  margin-bottom: 10px;
  background-color: #FCEFDC;
}
.box-5{
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    width: 214px;
    flex:3;
    margin-bottom: 10px;
}
.box-6{
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    width: 214px;
    flex:2;
    margin-bottom: 10px;
    margin-top: 5px;
}
.box-7{
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    width: 214px;
    flex:2;
    margin-bottom: 10px;
}
.alert-style{
    margin-left: 7px;
    margin-right: 5px;
    color: #B19772!important;
}
.alert-class{
    color:#573E1C!important;
}
.side-image{
    width: 193px;
    height: 237px;
    margin-left: 10px;
    margin-right: 10px;
}
.box-5-content{
    margin-left: 5px;
    margin-top: 5px!important;
}
.likes-style{
    
        font-size: 15px!important;
        margin-left: 10px !important;
        margin-top: 10px !important;
        font-weight: normal !important;
    
}
.liked-people{
    width: 50px;
    height: 50px;
    position: relative;
    left: 8px;
    border-radius: 50%;
    border-color:white;
    border-width: 2px;
    border-style: solid;
}
.likes{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F7F7F7;
}
.b1{
    display: flex;
}
.like-text{
    margin: 10px !important;
    font-size: 15px !important;
    font-weight: normal !important; 

}
.end{
    background-color: #F7F7F7;
    margin: 0px !important;
    border-radius: 10px;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 20px;
    margin-left: 5px;
    padding-left: 7px;
    padding-bottom: 15px;
    padding-top: 7px;
}
.external-links{
    font-size: 15px !important;
    font-weight: normal !important;
    color: #3097D1 !important;
    margin: 10px !important;

}
.col-md-4{
    padding-right: 0px !important;
}
.col-md-5{
    padding: 0px !important;
    margin-left: -4%;
    position: relative;
}
.box-mid{
    display: flex;
    flex:1;
    border:1px solid #F7F7F7;
    border-radius: 4px;
    position: relative;
    flex-direction: column;
}
.message{
    margin:5px;
    color: #F7F7F7 !important;
}
.placeholder-message{
    border:1px solid #F7F7F7;
    border-radius: 4px;
    color: #F7F7F7 !important;
    width: 28em;

}
.form-sty{
    margin-right: 5px;
    padding-top: 9px;
    
}
.cam a:link{
    color: #F7F7F7 !important;
}
.friend{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:2px solid white

}
.content3{
    display: flex;

}
.content4{
    display: flex;
    margin-left: 45px;
}
h3{
    font-size: 10px !important;
    font-weight: normal !important;
    margin-left: 50px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0px !important;
    justify-content: center;
  }
  
 
  .column {
    flex: 40%;
    max-width: 40%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }